<% layout('./layout/page.ejs') %>

<div class="d-flex p-2">
    <div class="d-flex flex-column">
        <h1 class="d-flex justify-content-center"><%= title %></h1>
        <h4 class="m-5">Несколько слов о планете: <%=desc%></h4>
    </div>
    <img class="my-img" src="<%= picture %>" alt=""/>
</div>
